body {
    background: #003366;
}
p {
    padding-left: 10px;
}
#fields {
  text-align: center;
}
#smallerrors {
  text-align: center;
}
#summary {
    width:75%;
    text-align: center;
    margin: auto;
}
.broadLevel {
    display: inline-table
}
.bricks {
    border: 1px solid #337ab7;
    border-radius: 4px;
    padding: 5px;
    background-color: #ECECEC;
    margin: auto;
    margin-top: 1%;
    margin-left: 2%;
}
#inline, #broad  {
    display: inline-table;
    width: 45%;
}
#comparison h2 {
    text-align: center;
}
.data {
    list-style-type: none;
    vertical-align: middle;
}
.values {
    display: inline-table;
    margin: auto;
    margin-top: 1%;
    margin-left: 1%;
    width: 30%;
    border: 1px solid;
    border-radius: 4px;
    padding: 3px;
    background: white;
}
#zeroes {
    border-color: grey;
}
#positives {
    border-color: #189238;
}
#negatives {
    border-color: #D34057;
}
